@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.header{
  padding-top: 2%;
  font-family: 'Pacifico', cursive;
  font-size: 65px;
  padding-bottom: 5%;
}

.mainView-subtitle {
  font-family: 'Pacifico', cursive;
  padding-bottom: 1%;
  color: #007bff;
}
