img {
  width: 60%;
  display: inline-block;
}

body {
  background-color: lemonchiffon;
}

.recipe-container {
  background-color: #f2f2f2;
  float: left;
}

.current-step {
  background-color: #99ddff;
}

.list-group {
  text-align: center;
}

.header-link {
  text-decoration: none
}

a:hover {
  color: none;
  text-decoration: none;
}

.container {

}

.display-pane {
  display: inline-block;
  text-align: center;
}

.rs-play {
  display: none;
}

.header-col {
  text-align: center;
}

.ingredients-col {
  text-align: center;
  padding-left: 3%;
}

.header-row {
  padding-left: 3%;
}

.instructions-col {
  margin-left: 7%;
}
