img {
  width: 60%;
  display: inline-block;
}

body {
  background-color: lemonchiffon;
}

.recipe {
  background-color: #f2f2f2;
  text-align: center;
}

.current-step {
  background-color: #99ddff;
}

.list-group {
  text-align: center;
}

.header-link {
  text-decoration: none
}

a:hover {
  color: none;
  text-decoration: none;
}
